.main{
  height:100vh;
  width: 100vw;
  background-color:black;
  
}

.score-box{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15vmin;
  max-height: 25%;
  scroll-behavior: smooth;
  color:white;
  border: yellow solid 10px;
  border-radius: 15%;
  padding: 5%;
}

.winners{
  height:60%;
  min-width:100%;
  color: rgb(153, 208, 229);
  background-color: rgb(6, 1, 12);
  font-size: 20vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.names{
  height: 40%;
  min-width: 100%;
  color: white;
  background-color: black;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}